<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} - #{DEFAULT_META["meta_product_name"]} - Blog" %>
<% content_for :meta_description, "Blog - #{DEFAULT_META["meta_description"]}"  %>
<!-- <%# content_for :meta_image, cl_image_path(@offer.photo.path) %> -->

<section class="welcome-area text-center" data-scroll-index="1">
		  <div class="overlay-bg-70 flex-center">
			  <div class="container">
				  <div class="welcome-text">
					  <h1 class="color-eee fw-300 mb-20px">Blog</h1>
				  </div>
			  </div>
		  </div>
</section>

<div class="container blog-area">
    <div class="row">
        <% @articles.each do |article| %>
        <div class="col-md-4 mb-25px mt-25px">
					  <div class="blog-item transition-4">
						  <div class="blog-image o-hidden">
							  <img alt="blog" src="<%= article.article_image_link %>" class="transition-4">
						  </div>
						  <div class="p-20px bg-fff">
							  <p class="color-999 mb-10px"><%= article.category.category_title %></p>
							  <h5 class="fw-600 mb-20px"><a href="/articles/<%= article.id %>" class="color-333 color-orange-hvr"><%= article.article_title %></a></h5>
							  <a href="/articles/<%= article.id %>" class="color-aaa color-orange-hvr">
								  Lire la suite 
								  <i class="fa fa-angle-right transition-5 ml-5px"></i>
								  <i class="fa fa-angle-right transition-4"></i>
							  </a>
						  </div>
					  </div>
		</div>
	  <% end %>
    </div>
</div>