<% content_for :meta_title, "#{DEFAULT_META["meta_title"]} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{DEFAULT_META["meta_description"]}"  %>
<!-- <%# content_for :meta_image, cl_image_path(@offer.photo.path) %> -->

<section class="welcome-area text-center" data-scroll-index="1">
		  <div class="overlay-bg-70 flex-center">
			  <div class="container">
				  <div class="welcome-text">
					  <h4 class="color-eee fw-300 mb-20px">Maxime Bielmann - Développeur Web</h4>
					  <h1 class="mb-20px color-fff fw-100 cd-headline clip">
						  <span class="fw-100">Je suis</span>
						  <span class="cd-words-wrapper">
							  <b class="is-visible color-orange fw-700">Créatif</b>
							  <b class="color-orange fw-700">Unique</b>
							  <b class="color-orange fw-700">Professionnel</b>
						  </span>
					  </h1>
					  <p class="color-ccc">Je vous accompagne de l'idée jusqu'à la réalisation de votre projet, du cahier des charges à l'utilisation quotidienne de votre outil.</p>
					  <a class="main-btn btn-1 mt-30px mr-5px ml-5px" href="#">En savoir plus</a>
					  <a class="main-btn btn-2 mt-10px ml-5px mr-5px" href="#">Me contacter</a>
				  </div>
			  </div>
		  </div>
</section>

<!-- ==================================================
							services-area
      ================================================== -->
	  <section class="services-area sec-padding text-center" data-scroll-index="2" id="2">
		  <div class="container">
			  <h1 class="title-h p-relative">
				  <span class="fw-200">Mes</span> Services
				  <span class="line p-absolute bg-orange"></span>
			  </h1>
			  <p class="title-p">Que vous en soyez au stade de l'idée ou à l'exploitation d'un outil existant, je vous accompagne pas à pas dans votre projet.</p>
			  <div class="row">
				  <div class="col-md-4">
					  <div class="mb-25px mt-25px p-40px transition-2">
						  <i class="fas fa-code fs-35 mb-20px radius-50 transition-2"></i>
						  <h4 class="fw-600 mb-10px p-relative">Création</h4>
						  <p>Du site vitrine au e-commerce, en passant par l'album photo, le site de courtage ou de réservation.</p>
					  </div>
				  </div>
				  <div class="col-md-4">
					  <div class="mb-25px mt-25px p-40px transition-2">
						  <i class="fas fa-pencil-ruler fs-35 mb-20px radius-50 transition-2"></i>
						  <h4 class="fw-600 mb-10px p-relative">Modernisation</h4>
						  <p>Vos attentes évoluent, votre site doit rester efficace et vous aider à atteindre vos objectifs.</p>
					  </div>
				  </div>
				  <div class="col-md-4">
					  <div class="mb-25px mt-25px p-40px transition-2">
						  <i class="fas fa-cubes fs-35 mb-20px radius-50 transition-2"></i>
						  <h4 class="fw-600 mb-10px p-relative">Amélioration</h4>
						  <p>Votre site internet peut évoluer avec l'ajout d'une boutique en ligne ou un service de réservation.</p>
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>
	  <!-- ==================================================
							End services-area
      ================================================== -->
      
      
<!-- ==================================================
							work-area
      ================================================== -->
      <section class="work-area sec-padding" data-scroll-index="3">
		  <div class="container">
			  <h1 class="title-h p-relative">
				  <span class="fw-200">Mes</span> Réalisations
				  <span class="line p-absolute bg-orange"></span>
			  </h1>
			  <p class="title-p">Vous pouvez voir des exemples de mes dernières réalisations : site vitrine, e-commerce et site sur mesure.</p>
              <div class="row">
                  <!-- filter links -->
                  <div class="filtering col-sm-12 text-center">
					  <span data-filter='*' class="active bg-f4f4f4  mb-10px mr-15px fw-400 radius-25px">Tout</span>
                      <span data-filter='.Vitrine' class="bg-f4f4f4 mb-10px mr-15px fw-400 radius-25px">Sites vitrines</span>
                      <span data-filter='.Ecommerce' class="bg-f4f4f4 mb-10px mr-15px fw-400 radius-25px">E-commerces</span>
                      <span data-filter='.Autre' class="bg-f4f4f4 mb-10px fw-400 radius-25px">Autres</span>
                  </div>
                  <!-- grid -->
                  <div class="grid  width-100">
                      <!-- gallery item -->
                      <% @portfolios.each do |portfolio| %>
                      
	                      <div class="col-md-4 items <%= portfolio.portfolio_cat %> mt-30px">
	                          <div class="work-image p-relative o-hidden">
	                              <img src="<%= portfolio.portfolio_image_link %>" alt="<%= portfolio.portfolio_image_alt %>">
	                              <div class="overlay-bg-85 p-absolute transition-5 flex-bottom">
									  <a href="<%= portfolio.portfolio_image_link %>" data-lightbox="<%= portfolio.portfolio_image_alt %>">
										  <i class="fa fa-image text-center p-absolute color-fff bg-orange-hvr radius-50"></i>
									  </a>
									  <div class="p-15px">
										  <h5 class="transition-5 color-eee fw-600 mb-0px"><%= portfolio.portfolio_title %></h5>
	                                      <p class="color-777"><%= portfolio.portfolio_desc %></p>
	                                  </div>
	                              </div>
	                          </div>
						  </div>
                      <% end %>
                  </div>
              </div>
          </div>
      </section>
	  <!-- ==================================================
							End work-area
      ================================================== -->
      
      
<!-- ==================================================
							about-area
      ================================================== -->
	  <section class="about-area sec-padding" data-scroll-index="4">
		  <div class="container">
		  	  <h1 class="title-h p-relative">
				  <span class="fw-200">Qui </span> Suis-je ? 
				  <span class="line p-absolute bg-orange"></span>
			  </h1>
			  <p class="title-p">Avant tout, l'humain a une place importante dans tout ce que j'entreprend.</p>
			  <div class="row">
				  <div class="col-md-6">
					  <div class="about-image mb-50px wow fadeInLeft" data-wow-delay="0.4s">
						  <img src="https://res.cloudinary.com/hxxt46fe7/image/upload/v1571131948/images/aboutme_sdeqip.jpg" alt="about">
					  </div>
				  </div>
				  <div class="col-md-6">
					  <div class="about-text wow fadeInRight" data-wow-delay="0.7s">
						  <h3 class="fw-600 mb-20px"><span class="fw-200"> Un bout </span> De mon histoire</h3>
						  <p class="mb-20px">Autodidacte passionné par la création de sites et d'applications web qui apportent une vraie réponse à un problème précis, je mets toute mon énergie à concevoir des solutions adaptées à vos contraintes et à vos besoins.</p>
						  <p class="mb-20px">Je suis tombé dans le code il y a 13 ans et j'ai sans cesse continué à me perfectionner pour suivre le rythme des avancées technologiques et apprendre de nouvelles choses pour monter en compétence.</p>
						  <p class="mb-20px">Parce que l'aspect humain est très important pour moi, je tiens à vous accompagner et à vous expliquer les différentes étapes depuis le début de votre projet jusqu'à l'utilisation au quotidien de celui-ci.</p>
						  
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>
	  <!-- ==================================================
							End about-area
      ================================================== -->
      
      
 
<!-- ==================================================
							contact-area
      ================================================== -->
      <section class="contact-area sec-padding" data-scroll-index="5">
          <div class="container">
			  <h1 class="title-h p-relative">
				  <span class="fw-200">Me </span> Contacter 
				  <span class="line p-absolute bg-orange"></span>
			  </h1>
			  <p class="title-p">Vous souhaitez avoir des informations sur mes services ou cherchez à vous d.</p>
			  <div class="row">
				  <div class="col-md-12">
					  <div class="contact-form">
						  <form class="form" id="contact-form" method="post" action="contact.php">
							  <div class="messages"></div>
							  <div class="controls">
								  <div class="row"> 
								  <div class="col-md-6">
									  <div class="form-group">
										  <input id="form_name" class="form-control" type="text" name="name" placeholder="Nom"  required="required" data-error="Votre nom est obligatoire.">
										  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-6">
									  <div class="form-group">
										  <input id="form_email" class="form-control" type="email" name="email" placeholder="Email" required="required" data-error="Votre email est obligatoire.">
									  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <div class="form-group">
										  <input id="form_subject" class="form-control" type="text" name="subject" placeholder="Sujet">
										  <div class="help-block with-errors"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <div class="form-group">
										  <textarea id="form_message" class="form-control" name="message" placeholder="Message" rows="6" required="required" data-error="Message."></textarea>
										  <div class="help-block with-errors color-orange"></div>
									  </div>
								  </div>
								  <div class="col-md-12">
									  <input type="submit" value="Envoyer" class="main-btn color-fff radius-50px bg-orange color-orange-hvr">
								  </div>
								  </div>
							  </div>
						  </form>    
					  </div>
				  </div>
			  </div>
          </div>   
      </section>
      <!-- ==================================================
							End contact-area
      ================================================== -->